{
  "env": {
    "development": {
      "presets": ["next/babel"],
      "plugins": [ "inline-react-svg" ]
    },
    "production": {
      "presets": ["next/babel"],
      "plugins": [ "inline-react-svg" ]
    },
    "test": {
      "presets": ["next/babel"],
      "plugins": [ "inline-react-svg" ]
    }
  }
}
