{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@svg": "./assets/svg"
        }
      }
    ],
    [
      "inline-react-svg",
      {
        "svgo": {
          "plugins": [
            {
              "removeAttrs": {  }
            },
            {
              "cleanupIDs": true
            }
          ]
        }
      }
    ]
  ]
}
